* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
}
.container {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
html {
  scroll-behavior: smooth;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: none;
  font-size: 16px;
}
.back-to-top:hover {
  background-color: #0056b3;
}
